extends ../../layouts/layout.pug

block content
  h1 Update

  form(action="/books/update" method="POST")
    input(name="id" type="hidden" value=book.id)
    label Name 
    input(name="title" type="text" value=book.title)
    button Update