extends ../layouts/layout.pug

block content
  h1 Menu
  nav(class="nav nav-pills nav-justified")
    a(class="nav-item nav-link active ml-2" href="/users") Users
    a(class="nav-item nav-link active mx-2" href="/books") Books
    a(class="nav-item nav-link active mr-2" href="/transactions") Transactions
